<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{{ siteData.siteImages.icon128 }}">
    <meta name="theme-color" content="{{ siteData.color }}">
    <meta property="og:site_name" content="{{ siteData.name }}">
    <meta name="description" property="og:description" content="{{ siteData.description }}">
    <title property="og:title">{{ title }}</title>

    {% block style %}{% endblock %}
</head>
<body>
    {% block content %}
    {{ content | safe }}
    {% endblock %}
</body>
</html>