{% extends "./base.njk" %}

{% block style %}
<link rel="stylesheet" href="/bundle.css">
{% endblock %}

{% block content %}
<div class="flex center column">
    <header>
        {% include "_header.html" %}
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        {% include "_footer.html" %}
    </footer>
</div>
{% endblock %}