<a href="/">
    <img src="/_img/titles/titleWoodScratched.png">
</a>
<nav>
    <button onclick="window.location.href='/';">Home</button>
    <button onclick="window.location.href='/tutorial/';">Tutorial</button>
    <button onclick="window.location.href='/generator/';">Link Generator</button>
    <button onclick="window.location.href='https://codepen.io/justbecaws/pen/VwPKpXm';">shelves.css (for your
        greenhouse!)</button>
    <button onclick="window.location.href='https://wiki.melonland.net/web_gardens';">MelonLand Wiki Page</button>
</nav>